*{
    background-color: #1A1A1A;
    color: white;
}
.clr{
    color: #00FFFF;
}
.menu li{
    list-style: none;
}
.icon{
    color: black;
}
header .navbar{
    font-size: 1.3rem;
    font-weight: bold;
}
header .navbar .menu li:hover{
    color: blue;
    cursor: pointer;
}
.banner .text h1{
    font-size: 3rem;
}
.project1, .project2{
    border: 1px solid white;
    border-radius: 5px;
}
main .Contact .contactform{
    border: 1px solid white;
    box-shadow: +5px +5px 5px gray;
}
.Contact form button{
    background-color: gray;
}
.Contact form button:hover{
    background-color: rgba(0, 0, 255, 0.3);
}